 .u-section-1 {
  min-height: 668px;
}

.u-section-1 .u-text-1 {
  margin: 141px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 6rem;
  margin: 20px 81px 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 181px;
  margin-bottom: 27px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 64px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 64px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 53px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 53px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 81px;
    margin-bottom: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 71px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 197px;
  }

  .u-section-1 .u-text-1 {
    width: 114px;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 63px;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 618px;
}

.u-section-2 .u-video-1 {
  height: 590px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-bottom: 55px;
  }
} .u-section-3 {
  min-height: 668px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 288px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 31px 373px 0 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 139px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 288px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  width: 858px;
  font-size: 2.25rem;
  margin: 50px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 58px auto 60px;
  padding: 14px 53px 15px 51px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 596px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 6px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 273px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 39px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 237px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 356px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 163px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    width: 720px;
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 456px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 704px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 58px;
  }
} .u-section-4 {
  min-height: 586px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 557px;
  background-image: url("images/monyet.jpg");
  background-position: 96.23% 50%;
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 557px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 35px auto 0 16px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -78px 6px 0 auto;
}

.u-section-4 .u-text-2 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 75px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px 0 0;
  padding: 14px 53px 15px 51px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 469px;
  }

  .u-section-4 .u-image-1 {
    min-height: 459px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 459px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 352px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-4 .u-icon-1 {
    width: 39px;
    height: 39px;
    padding: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1120px;
  }

  .u-section-4 .u-image-1 {
    min-height: 528px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 809px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 332px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: 214px;
    margin-left: 15px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -49px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 71px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 371px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 73px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 15px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto;
  padding: 14px 53px 15px 51px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 187px;
    margin-top: 14px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 319px;
}

.u-section-6 .u-text-1 {
  width: 114px;
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 800;
  width: 411px;
  margin: 21px auto 0;
}

.u-section-6 .u-social-icons-1 {
  height: 46px;
  width: 112px;
  min-width: 108px;
  margin: 21px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-custom-html-1 {
  min-height: 98px;
  height: auto;
  margin-top: -58px;
  margin-bottom: 8px;
  margin-left: 958px;
  width: 182px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-social-icons-1 {
    min-height: 16px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-right: 50px;
    margin-left: 808px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-custom-html-1 {
    margin: -60px -27px 10px 565px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 250px;
    margin-left: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 32px;
  }

  .u-section-6 .u-custom-html-1 {
    margin: -39px -50px 8px 208px;
  }
}