 .u-section-1 {
  background-image: none;
  min-height: 707px;
}

.u-section-1 .u-image-1 {
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/IMG_4245.JPG');
  margin-top: 0;
  margin-bottom: -77px;
  min-height: 784px;
}

.u-section-1 .u-container-layout-1 {
  padding: 210px 30px 30px;
}

.u-section-1 .u-text-1 {
  width: 688px;
  font-weight: 700;
  font-family: "ADLaM Display";
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: "ADLaM Display";
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 490px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
    background-position: 9.07% 50%;
    min-height: 490px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 180px;
  }

  .u-section-1 .u-text-1 {
    width: 660px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: -368px;
    min-height: 704px;
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 156px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 856px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  width: 347px;
  font-weight: 700;
  font-family: "ADLaM Display";
  margin: 131px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 550px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-2 .u-image-1 {
  background-image: url("images/Kunang-kunangEmas001-2025.png");
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/000CoverSquareFix.png");
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/seaandfriends.jpg");
  background-size: cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
    min-height: 454px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    grid-auto-columns: calc(33.3333% - 20px);
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
    min-height: 792px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2166px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 425px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
    min-height: 1586px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: , linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/photo-1594712844133-d4193f13c17e.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 705px;
}

.u-section-3 .u-text-1 {
  font-family: "ADLaM Display";
  margin: 274px 103px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 747px;
  font-family: "ADLaM Display";
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 60px;
    margin-left: 3px;
    margin-right: 3px;
    width: 775px;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 125px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 100px;
}

.u-section-4 .u-sheet-1 {
  min-height: 684px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-image-1 {
  min-height: 594px;
  background-image: url("images/TIASlogonew.png?rand=5775");
  --radius: 50px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 594px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 490px;
    --animation-custom_in-translate_x: -300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 576px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-4 .u-image-1 {
    min-height: 712px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 360px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-image-1 {
    min-height: 527px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 119px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-4 .u-image-1 {
    min-height: 332px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 438px;
}

.u-section-5 .u-group-1 {
  min-height: 289px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 271px;
  margin: 21px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 58px 0 40px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0px;
  --radius: 50px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 24px auto 53px;
  padding: 20px 61px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    min-height: 821px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 627px;
    margin-bottom: 12px;
    padding: 9px 22px 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    min-height: 677px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 13px 2px;
  }

  .u-section-5 .u-text-1 {
    width: 169px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-5 .u-btn-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-scale: 0.3;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 12px 21px 14px 19px;
  }
} .u-section-6 {
  min-height: 1289px;
}

.u-section-6 .u-shape-1 {
  background-image: none;
  height: 528px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  width: 439px;
  font-weight: 700;
  margin: -486px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  width: 898px;
  margin: 58px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  width: 439px;
  font-weight: 700;
  margin: -160px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 151px 88px 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 761px;
  margin: 35px auto 42px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 627px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 331px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-text-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 331px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-text-7 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-8 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 272px;
    margin-left: calc(((100% - 940px) / 2)  + 179px);
  }

  .u-section-6 .u-repeater-1 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1279px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -484px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -164px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    font-size: 1rem;
    margin-top: 155px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-top: 19px;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 753px;
  }

  .u-section-6 .u-image-1 {
    height: 305px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-image-2 {
    height: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: 216px;
    margin-bottom: -852px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 529px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 529px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1937px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    width: 340px;
    margin-top: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: 340px;
    margin-top: -116px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 114px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-6 .u-list-1 {
    width: 381px;
    margin-top: 36px;
    margin-left: auto;
    margin-bottom: 19px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1370px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 326px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    height: 326px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 808px;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: "ADLaM Display";
  width: 318px;
  margin: 20px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 57px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 550px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-7 .u-image-1 {
  background-image: url("images/Kunang-kunangEmas001-2025.png");
  background-size: cover;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  background-image: url("images/000CoverSquareFix.png");
  background-size: cover;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/seaandfriends.jpg");
  background-size: cover;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
    min-height: 454px;
  }

  .u-section-7 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 41px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    grid-auto-columns: calc(33.3333% - 20px);
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
    min-height: 845px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1704px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 53px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
    min-height: 1577px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 41px 0 60px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 8px 83px 0 102px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 41px auto 0;
  padding: 13px 67px 15px 66px;
}

.u-section-8 .u-video-1 {
  height: 524px;
  width: 910px;
  margin: 47px auto 57px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 361px;
    font-weight: 400;
  }

  .u-section-8 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 40px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-8 .u-video-1 {
    height: 414px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    font-size: 1.3333333333333333rem;
  }

  .u-section-8 .u-video-1 {
    height: 311px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 21px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 8px;
    font-size: 1rem;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-8 .u-video-1 {
    height: 197px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}